
@media screen and (min-width: 868px) {

    .page-cv {
        margin:auto;
        max-width: 1190px;
        /* height: 1684px; */
        flex-direction: row;
    }

        /* panneau latéral*/
        .lateral { 
            background-color: #ffc800;
            border: none;
            border-radius: unset;
            flex-basis: 32.27%;
            text-align: left;
            flex-shrink: 1;
            padding: 0;
            /* margin-bottom: 0; */
        }

            .cadre-photo{
                padding-top: 62px;
                padding-bottom: 44px;
                order: 0;
                border-top: 2px solid #dab048;
                border-left: 2px solid #dab048;
            }

                
                .cadre-photo img {
                    height: 220px;
                    width: 220px;
                    border-radius: 60%;
                    border: 4px solid #e7ac0a;
                }

            .header-responsive {
                display: none;
            }


        h2.titre-contact, 
        h2.titres-aside-nonresponsive {
            order: 0;
            margin: 0;
            display: block;
            text-align: center;
            background-color: #424242;
            color: #ffc800;
            font-family: 'Yantramanav', sans-serif;
            font-weight: 500;
            font-size: 30px;
            padding-top: 8px;
            padding-bottom: 2px;
            border-left: 2px solid #686762;
            border-radius: unset;
        }

        .contacts {
            order: 0;
            color: #4a4a48;
            border-left: 2px solid #dab048;
            padding-bottom: 39px;
            padding-left: 45.5px;
            padding-top: 32.5px;
            font-size: 16px;
        }

 
            .contacts .coordonnees {
                display: block;
            } 

            div.contact {
                padding-bottom: 20px;
                font-weight: 500;
            }

            .contact .icones-coordonnees {
                display: none;
            }


        .a-propos{
            order: 0;
            margin: 0;
            padding: 35px 49px 39px 45.5px;
            border: none;
            border-left: 2px solid #dab048;
            flex: 1;
            font-size: 16px;
            border-radius: unset;
            font-style: normal;
        }

            span.quoting {
                display: none;
                        
            }

        .loisirs {
            order: 0;
            border-left: 2px solid #dab048;
            border-bottom: 2px solid #dab048;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 30px;
            display: flex;
            justify-content: space-evenly;
        }

        .loisirs i {
            font-size : 38px;
            /* flex-basis: 20px; */
            color:#424242;
            border: 2px solid #424242;
            border-radius: 50%;
            padding: 15px;
        }

        /* zone centrale */
        .main{
            border-radius: unset;
            border-top: 2px solid #d3d0cb;
            border-right: 2px solid #d3d0cb;
            border-bottom: 2px solid #d3d0cb;
            border-left: none;
            order: 1;
            flex-shrink: 1;

            flex-basis: 67.73% ;
            padding-left: 66px;
        }

            .header-classic {
                display: block;
                padding-top: 70px;
                padding-bottom: 70px;
            }

                    .header-classic h1 .span-prenom{
                        font-family: 'Almarai', sans-serif;
                        font-size: 59px;
                        font-weight: lighter; 
                        color:#ffc800;
                    }
                
                    .header-classic h1 .span-nom {
                        font-family: 'Yantramanav', sans-serif;
                        font-weight: 300;
                        font-size: 65px;
                    }

                .header-classic h3 {
                    color: #4a4a48; 
                    font-size:28px;
                    font-family: roboto;
                    font-weight: 500;
                }

                    .header-classic h3 .span-develo- {
                        padding-bottom: 5px;
                        border-bottom: 2px solid #ffc800;
                    }

            .titres-main {
                font-family: 'yantramanav', 'sans-serif';
                font-size: 32px;
                font-weight: 400;
                border-radius: unset;
                background-color: transparent;
                color: black;
                text-align: left;
                padding-bottom: 10px; 
                margin-bottom: 40px;
                border-bottom-width: 2px;
                
            }

            .icones-main {
                font-size:38px;
            }

            .formation, .experience { 
                    flex-direction: row;
                    margin-bottom: 25px;
                }

                .retour-ligne {
                    display: inline;
                }

                .formation div:nth-child(1) p:first-child:before,
                .experience div:nth-child(1) p:first-child:before {
                    font-size:20px; 
                }

                .formation div:nth-child(1), 
                .experience div:nth-child(1) {
                    flex-basis: 23.324%; 
                }

                    .formation div:nth-child(1) p:first-child,
                    .experience div:nth-child(1) p:first-child{
                        font-style:normal;
                        border: none;
                        font-size: 16px;
                    }

                .formation div:nth-child(2),
                .experience div:nth-child(2)  {
                    flex-basis: 76.676%;
                    padding-left: 5px;
                    padding-top: 0;
                }

                    .formation div:nth-child(2) h3,
                    .experience div:nth-child(2) h3 {
                        font-family: 'Yantramanav', 'sans-serif';
                        font-size: 23px;
                    }

                    .formation div:nth-child(2) p,
                    .experience div:nth-child(2) p{
                        font-size: 16px;
                    }

                    .formation div:nth-child(2) *,
                    .experience div:nth-child(2) * {
                        padding-bottom: 10px;
                    }

            span#professionelle-toggle {
                display: inline;
            }

            .recommandations {
                flex: 1;
                flex-direction: row;
            }

            .recommandations h4 {
                font-size: 19px;
            }

                .recommandations .personne {
                    color:#4f4f4c ;
                    flex: auto;
                    font-family: Helvetica, sans-serif;
                    justify-content: space-evenly;
                }

                .recommandations p {
                    font-size: 16px
                }    
}