

body {
    background-color: #9b9b9b;   
}

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    p,h3 {
        line-height: 1.3;
    }

    .page-cv {
        margin: 1.25rem auto;
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }

        .lateral {

            background-color: #f8f8f8;
            color:#4f4f4c ;
            font-family: Helvetica, sans-serif;
            order: 0;
            display: flex;
            flex-direction: column;
            border: 2px solid #dab048;
            border-radius: 1.875rem;
            margin-bottom: 1.875rem;
            padding: 1.975rem;
        }
     
            .cadre-photo {
                order: 0;
                padding-top: 1.975rem;
                padding-bottom: 3.125rem;
            }

                .cadre-photo img {
                    display: block;
                    width: 45%;
                    margin: auto;
                    border-radius: 2.5rem;
                    min-width: 200px;
                    border: 4px solid #e7ac0a;
                }

            .header-responsive {
                border-bottom: 5px solid #ffc800;
                border-right: 1px solid #ffc800;
                border-left: 7px solid #ffc800;
                border-top: 1px solid #ffc800;
                border-radius:  3.125rem 10px ;
                display: block;
                margin-bottom: 2.5rem;
                text-align: center;
                padding: 20px;
            }

                    .header-responsive h1 .span-prenom{
                        font-family: 'Almarai', sans-serif;
                        font-size: 10vw;
                        font-weight: lighter; 
                        color:#ffc800;
                    }

                    .header-responsive h1 .span-nom {
                        font-family: 'Yantramanav', sans-serif;
                        font-weight: 300;
                        font-size: 10vw;
                    }

                .header-responsive h3 {
                    color: #4a4a48; 
                    font-size:7vw;
                    font-family: roboto;
                    font-weight: 500;
                    border-top: 1px solid #ffc800;
                    margin: 15px 0;
                    padding-bottom: 10px;
                }

            h2.titre-contact {
                order: 1;
                text-align: center;
                margin: 25px 0;
                font-family: 'Yantramanav', sans-serif;
                font-weight: 300;
                font-size: 7vw;
                border-bottom: 5px solid #ffc800;
                border-radius:  15px;
                background-color: #424242;
                color: #ffc800;
            }

            .contacts {
                order: 1;
                font-size: 4vw;
            }

                        .contacts a {
                            text-decoration: none;
                            color: #4a4a48;
                            background-color: #4a4a4824;
                            padding: 2px;
                            /* border: 1px solid ; */
                            border-radius: 10px;
                        }

   
                    .contacts .coordonnees {
                        display: none;
                    } 


                        .contact .icones-coordonnees {
                            font-size: 7vw;
                            padding: 10px;
                            color: #ffc800;
                        }

            .titres-aside-noresponsive {
                display: none;
            }
        
            .a-propos {
                order: 0;
                padding: 1.975rem;
                margin: 15px 0 20px 0;
                text-align: justify;
                letter-spacing: 1px;
                border: 1px solid transparent;
                background-color: #ffc800;
                border-radius:  10px 3.125rem;
                font-size: 4.4vw;
                font-style: italic;
            }

            .loisirs {
                display: none;
            }


    .main {
        order: 1;
        background-color: #ffffff;
        border: 2px solid #dab048;
        border-radius: 1.975rem;
        margin-bottom: 1.975rem;
        padding: 1.975rem;

        display: flex;
        flex-direction: column;
    }

        .header-classic {
            display: none;
        }

        .titres-main {
            border-bottom: 2px solid #ffc800; 
            text-align: center;
            margin: 35px 0;
            font-family: 'Yantramanav', sans-serif;
            font-weight: 300;
            font-size: 6.5vw;
            border-bottom: 5px solid #ffc800;
            border-radius:  15px;
            background-color: #424242;
            color: #ffc800;
        }

        span#professionelle-toggle {
            display: none;
        }

              
                .icones-main {
                    font-size:6.5vw;
                    color: #ffc800; 
                }


        .formation, .experience {
                color:#4f4f4c ;
                font-family: Helvetica, sans-serif;
                margin-bottom: 25px;
                display: flex;
                flex-direction: column;
            }

            .retour-ligne {
                display: none;
            }
            
                    .formation div:nth-child(1) p:first-child:before,
                    .experience div:nth-child(1) p:first-child:before  {
                        content:'\25CF'; 
                        font-size:4vw; 
                        font-weight: bold;
                        line-height:24px; 
                        vertical-align:middle;
                        color: #ffc800;
                        margin-right: 10px;
                        border: none;
                    }

            .formation-1 div:nth-child(1) p:first-child:before,
            .experience-1 div:nth-child(1) p:first-child:before {
                content:'\25C9'; 
            }

                    .formation div:nth-child(1) p:first-child, 
                    .experience div:nth-child(1) p:first-child {
                        padding-bottom: 5px;
                        font-style: italic;
                        display: inline;
                        border-bottom: 2px solid #ffc800;
                        font-size: 4vw;
                    }


                .formation div:nth-child(1)  {
                    padding-bottom: 10px;
                }

                .formation div:nth-child(2),
                .experience div:nth-child(2)   {
                    padding-left: 20px;
                    padding-top: 10px;
                }

                    .formation div:nth-child(2) h3,
                    .experience div:nth-child(2) h3 {
                        font-size: 5.5vw;
                    }

                .formation  p,
                .experience p {
                    font-size: 4.5vw;
                }

                    .formation div:nth-child(2) *,
                    .experience div:nth-child(2) * {
                        padding-bottom: 18px;
                    }

        .recommandations {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

            .recommandations h4 {
                font-size: 4.5vw;
            }
            .recommandations p {
                font-size: 4.5vw;
            }
            
            .recommandations .personne {
                color:#4f4f4c ;
                flex: auto;
                font-family: Helvetica, sans-serif;
                padding-top: 20px;  
                text-align: justify;
            }






